.breadcrumb-default {
  font-weight: 400;
  color: var(--bs-gray-700);

  .breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, "/");
    background-image: none;
    width: auto;
    height: auto;
    top: 0;
  }

  .breadcrumb-item.active {
    opacity: 1;
    color: var(--bs-gray-700);
  }

  a {
    color: var(--bs-gray-700);
  }
}