:root {
	--bs-purple-filejet: #FAFAFA;
	--bs-purple-indigo: #FF551A;
	--bs-pro-blue: #00B2EB;
	--bs-external-gray: #4744D1;
	--bs-yellow-bg: #FFB200;
}


.filejet-bg {
	background-color: var(--bs-purple-filejet);
}

.filejet-bg ::-webkit-scrollbar-thumb {
	background-color: #a5a4a4;
}


.main-dashboard-v2 {

	.notification {
		border: 2px solid #D8DDDF;
		border-radius: 100% !important;
		height: 100%;

		a {
			width: 32px !important;
			height: 32px !important;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.notification-dot-v2 {
			position: absolute;
			width: 6px;
			height: 6px;
			border-radius: 100%;
			background-color: #E73B18;
			top: 7px;
			right: 8px;
		}
	}

	table.dataTable.display>tbody>tr>td {
		white-space: normal;
		box-shadow: none !important;
	}

	.indigo-bg {
		background-color: var(--bs-purple-indigo);
	}

	.filejet-bg {
		background-color: var(--bs-purple-filejet);
	}

	.light-blue-bg {
		background-color: var(--bs-light-blue);
	}

	.voilet-bg {
		background-color: #4744D1;
	}

	.icon-urgent-icon {
		background-image: url("../../../dist/images/icons/urgent-icon.svg");
	}

	.icon-unknowledged-1 {
		background-image: url("../../../dist/images/icons/unknowledged-1.svg");
	}

	.icon-alert-light {
		background-image: url("../../../dist/images/icons/alert-light.svg");
	}

	.icon-status-upcoming {
		background-image: url("../../../dist/images/icons/status-upcoming.svg");
	}

	.icon-status-future-1 {
		background-image: url("../../../dist/images/icons/status-future-1.svg");
	}

	.icon-angle-bottom {
		background-image: url("../../../dist/images/icons/icon-angle-bottom.svg");
	}

	.icon-angle-top-white-1 {
		background-image: url("../../../dist/images/icons/icon-angle-top-white-1.svg");
	}

	.icon-angle-right {
		background-image: url("../../../dist/images/icons/icon-angle-right.svg");
		width: 8px;
	}

	.icon-circle-check-white {
		background-image: url("../../../dist/images/icons/circle-check-white.svg");
	}

	.icon-in-process-white-1 {
		background-image: url("../../../dist/images/icons/in-process-white-1.svg");
	}

	.icon-download-white-on-green {
		background-image: url("../../../dist/images/icons/download-white-on-green.svg");
	}

	.icon-sentostate-white {
		background-image: url("../../../dist/images/icons/sent-to-state-white.svg");
	}

	.icon-arrow-triangle-bottom-dark {
		background-image: url("../../../dist/images/icons/arrow-triangle-bottom-dark.svg");
		width: 6px;
		margin: 0px;
	}

	.icon-arrow-forward-black {
		background-image: url("../../../dist/images/icons/arrow-forward-black.svg");
		width: 13px;
	}

	.icon-right-angle-table {
		background-image: url("../../../dist/images/icons/right-angle-table.svg");
	}

	.down-angle-table {
		background-image: url("../../../dist/images/icons/down-angle-table.svg");
	}

	.maroon-bg {
		background-color: #bb0f23;
	}

	.dark-gray-bg {
		background-color: #8690a0;
	}

	.dark-blue700-bg {
		background-color: #1a4d9e;
	}

	.dark-blue-bg {
		background-color: #1c085a;
	}

	.meta-blue-bg {
		background-color: #1080f8;
	}

	.avatar-lg img {
		width: 44px;
		height: 44px;
		border-radius: 100%;
	}



	.sidebar-v2 {
		.menu-link .nav-link.active a {
			// background: var(--bs-purple-filejet);
		}



	}

	.custom-select:focus {
		outline: none;
		background-color: #d3d3d3;
		color: #000;
	}

	.custom-select option {
		background: white;
		color: black;
	}

	.group-search-d2:focus-within {
		outline: none;
		background-color: #ffe2d8;
		color: #000;
		border: 1.5px solid #FF551A !important;
		border-radius: 0.375rem;
	}

	.group-search-d2 {

		.form-select {
			background-size: 11px 11px !important;
			background-image: url("../../../dist/images/icons/icon-angle-bottom.svg") !important;
			background-color: transparent;
		}


		.dropdown-toggle {
			text-transform: capitalize !important;
			color: var(--bs-dark);
			font-size: 14px;
			min-width: -moz-max-content;
			min-width: max-content;
			cursor: pointer;
			font-weight: normal;
			background-color: white;
			border-radius: var(--bs-border-radius) !important;
			line-height: 21px;
		}

		.dropdown-toggle::after {
			content: "";
			display: inline-block;
			width: 11px;
			height: 11px;
			background-image: url(../../../dist/images/icons/icon-angle-bottom.svg) !important;
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			border: none;
			margin-right: 3px;

		}

		.dropdown-toggle.show::after {
			content: "";
			display: inline-block;
			width: 11px;
			height: 11px;
			background-image: url(../../../dist/images/icons/icon-angle-top.svg) !important;
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			border: none;
			margin-right: 3px;
		}

		.dropdown-toggle:focus-within {
			background-color: #ffe2d8;
			color: #000;
			border: none !important;
		}

		.btn-check:checked+.btn,
		.boc-light #boc-ppdf-btns .btn-check:checked+#boc-prev-cancel,
		.boc-light #boc-ppdf-btns .btn-check:checked+#boc-prev-save,
		:not(.btn-check)+.btn:active,
		.boc-light #boc-ppdf-btns :not(.btn-check)+#boc-prev-cancel:active,
		.boc-light #boc-ppdf-btns :not(.btn-check)+#boc-prev-save:active,
		.btn:first-child:active,
		.boc-light #boc-ppdf-btns #boc-prev-cancel:first-child:active,
		.boc-light #boc-ppdf-btns #boc-prev-save:first-child:active,
		.btn.active,
		.boc-light #boc-ppdf-btns .active#boc-prev-cancel,
		.boc-light #boc-ppdf-btns .active#boc-prev-save,
		.btn.show,
		.boc-light #boc-ppdf-btns .show#boc-prev-cancel,
		.boc-light #boc-ppdf-btns .show#boc-prev-save {
			border: none;
		}

		.dropdown-search {
			min-height: 36px;
		}

		.label.form-check-label,
		label.form-check,
		label {
			text-transform: capitalize !important;
			font-weight: normal;
			font-size: 12px !important;
			padding-left: 10px;
		}

		.form-check {
			border-bottom: 1px var(--bs-border-color);
		}

		.form-check-input[type="radio"] {
			left: 12px;
		}

		.dropdown-item:active {
			color: var(--bs-dropdown-link-active-color);
			text-decoration: none;
			background-color: var(--bs-gray-light);
		}

		.other-placeholder {
			color: var(--bs-dark);
			font-size: 14px;
			width: max-content;
			min-width: 160px;
			cursor: pointer;
			font-weight: normal;
			text-transform: capitalize !important;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.dropdown-menu.show {
			max-height: 360px;
			overflow-y: auto;
			overflow-x: hidden !important;
		}
	}

	.profile-nav-v2 {
		min-width: 31px;
		border: 2px solid var(--bs-purple-indigo);
		border-radius: 50px;

		.dropdown {
			border-radius: 100% !important;
		}

	}

	.quick-actions {
		background-color: var(--bs-purple-indigo);
		padding: 10px 15px !important;

		.text-light {
			font-size: 16px;
			font-weight: 500;
			color: #fff !important;
		}

		.text-placeholder-d2 {
			color: var(--bs-dark);
			font-size: 14px;
			min-width: -moz-max-content;
			width: max-content;
			cursor: pointer;
			font-weight: normal;
			text-transform: capitalize !important;
			min-width: 172px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.actions {
			height: 38px;
		}


	}

	.cardcontainer-d2 {
		.nav-link {
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
		}

		.nav-item {
			width: 32.6%;
		}

		.icon-angle-bottom {
			display: none;
		}

		.nav-link.active {
			color: var(--bs-nav-tabs-link-active-color);
			background-color: var(--bs-nav-tabs-link-active-bg);
			border: 1px solid var(--bs-purple-indigo);
			border-bottom: 0px solid #fff;
			z-index: 1;
			position: relative;
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
			height: 236px;
		}

		.nav-link:not(.active) {
			opacity: 100;
			background: linear-gradient(180deg, #FFF 75.38%, #E8E8E8 100%);
			border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);

			.card-headerd2 {
				background-color: rgba(216, 221, 223, -0.6);
				color: var(--bs-link-color);
			}

			.icon-angle-top-white-1 {
				display: none;
			}

			.icon-angle-bottom {
				display: block;
			}
		}

		.card-d2 {
			height: 235px;
			border-bottom: 2px solid #ffffff !important;
			border-radius: 0px;

			.card-headerd2 {
				background-color: #FFE2D8;
				color: var(--bs-dark);
				border-top-left-radius: 12px;
				border-top-right-radius: 12px;
				font-size: 16px;
				font-weight: 500;
				text-transform: none;
				line-height: normal;
				padding: 10px 15px !important;
			}

			.circle {
				width: 1rem;
				height: 1rem;
				display: inline-block;
				vertical-align: middle;
				flex-shrink: 0;
			}

			.list-group-flush {
				border-radius: 0;
				font-weight: 400;
				font-size: 0.85rem;
			}

			.chart-container {
				margin: 0px !important;

				.chart-legend ul {
					list-style-type: none;
					padding: 0;
					margin: 0;
				}

				.chart-legend ul li .icon {
					display: none;
				}

				.active-status {
					font-weight: bold;
					transition: 0.3s ease-in-out;
				}

				.chartdiv {
					position: relative;
				}

				.piechart {
					width: 140px;
					height: 140px;
				}

				.chart-center-text {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 1.5rem;
					font-weight: bold;
					color: var(--bs-dark);
				}

				.list-group-flush>.list-group-item {
					border: 0px;
					display: flex;
					align-items: center;
					padding: 5px !important;

				}

				.list-group-flush>.list-group-item span:hover {
					color: var(--bs-gray-600);
				}

			}
		}

		.icon-status {
			background-image: url("../../../dist/images/icons/status.svg");
			float: right;
		}
	}

	.tab-content-v2 {
		position: relative;
		top: -1px;
		border: 1px solid var(--bs-purple-indigo);

		.search-table-col {
			width: 28%;
			height: 38px;
		}

		.table-search-feild {
			height: 38px;
		}

		.Jurisdiction-table-col {
			width: 17%;
		}

		.task-table-col {
			width: 25%;
		}

		.status-table-col {
			width: 26%;
		}

		.export-table-col {
			width: 4%;
		}

		.export-csv-col {
			height: 38px;
		}

		.entity-search-table-col {
			width: 38%;
		}

		.entity-Jurisdiction-table-col {
			width: 26%;
		}

		.entity-status-table-col {
			width: 32%;
		}
	}

	.filter2-dropdown {
		.multi-select-container {
			gap: 5px;
			padding: 5px 10px;
			min-height: 38px;
			align-items: center;
		}

		.multi-select-container::after {
			content: '';
			display: inline-block;
			width: 12px;
			height: 12px;
			background-image: url(../../../dist/images/icons/icon-angle-bottom.svg) !important;
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			min-width: 11px;
		}

		.multi-select-container.show::after {
			content: '';
			display: inline-block;
			width: 12px;
			height: 12px;
			background-image: url(../../../dist/images/icons/icon-angle-top.svg) !important;
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			min-width: 11px;

		}

		.multi-select-container:focus-within {
			outline: none;
			background-color: #ffe2d8;
			color: #000;
			border: 1.5px solid #FF551A !important;
		}

		.multi-select-container .search-input:focus-within {
			color: #000;
		}

		.multi-select-container:focus-within .search-input::placeholder {
			color: #000;
			opacity: 1;
		}

		.selected-option {
			background-color: #2E2E36;
			padding: 3px 5px;
			border-radius: 2px;
			display: inline-flex;
			align-items: center;
			gap: 5px;
			font-size: 11px;
			font-weight: 600;
			color: #ffffff;
			white-space: nowrap;
			line-height: normal;
		}

		.selected-option-text {
			max-width: 70px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
		}

		.dropdown-search-input {
			width: 100%;
			padding: 10px 15px;
			border: none;
			border-bottom: 1px solid var(--bs-border-color);
		}

		.dropdown-search-input:focus-visible {
			border: 1px transparent !important;
			border-bottom: 1px solid var(--bs-border-color) !important;
			background-color: #f3f5f8;
		}

		.selected-option .remove-option {
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			width: 12px;
		}

		.search-input {
			border: none;
			outline: none;
			background: transparent;
			cursor: pointer;
			width: 100%;
			text-align: left;
		}

		.dropdown-menu {
			width: 98%;
			max-height: 250px;
			overflow-y: auto;
			overflow-x: hidden;
		}

		ul li label {
			margin: 0px;
			border-bottom: 1px solid var(--bs-border-color);
			padding-top: 10px;
			padding-bottom: 10px;
			text-transform: capitalize !important;
			display: flex;
			align-items: center;
			gap: 5px;
			white-space: normal;
			overflow-wrap: break-word;
		}

		.dropdown-item.active,
		.dropdown-item:active {
			color: var(--bs-dropdown-link-active-color);
			text-decoration: none;
			background-color: #a5a4a4;
		}

	}

	.clear-icon-image {
		width: 14px;
		height: 14px;
		cursor: pointer;
		vertical-align: middle;
		display: flex;
	}

	.custom-filter-input::placeholder {
		color: #0d2c36;
		opacity: 100;
		font-weight: normal;
	}

	.custom-filter-input:focus::placeholder {
		color: white;
	}

	.custom-search-input {
		color: #0d2c36;
		opacity: 100;
		font-weight: normal;
	}

	.card-table-d2 {

		th:nth-child(1),
		td:nth-child(1) {
			width: 100px;
			min-width: 100px;
			white-space: normal;
		}

		th:nth-child(2),
		td:nth-child(2) {
			width: 150px;
			min-width: 150px;
			white-space: normal;
		}

		th:nth-child(6),
		td:nth-child(6) {
			width: 100px;
			min-width: 100px;
			white-space: normal;
		}

		&.entity-card-table {
			.dataTables_wrapper {

				th:nth-child(9),
				td:nth-child(9) {
					max-width: 400px !important;
				}
			}

			.fixed-table-col-width-50{
				width: 60px;
			}

			.fixed-table-col-width-80 {
				width: 90px !important;
			}

			.fixed-table-col-width-100 {
				width: 115px !important;
			}

			.fixed-table-col-width-120 {
				max-width: 150px !important;
			}
		}

		.check-box-max-width {
			width: 50px;
		}

		.table {
			font-weight: 400;
			color: var(--bs-black-primary);
			width: auto;
			overflow: scroll;
		}

		.dataTables_wrapper tbody td {
			font-weight: 400;
			color: var(--bs-black-primary);
			font-size: 12px !important;
			padding: 0.5rem 0.9rem !important;
			line-height: 1.25rem !important;

			&.text-light-blue {
				color: var(--bs-light-blue) !important;

				a {
					color: var(--bs-light-blue) !important;
				}
			}
		}

		.dataTables_wrapper .dataTable thead th {
			text-transform: capitalize !important;
			padding: 0.9rem !important;
		}

		.dataTables_wrapper tbody td a {
			font-weight: 400;
		}

		.odd {
			background-color: #FAFAFA !important;
		}

		.btn-secondary {
			font-size: 10px;
		}

		.dataTables_wrapper .dataTable thead th.sorting::after .form-check-input {
			display: none;
		}

		.clickable {
			cursor: pointer;
		}

		.clickable:hover {
			background-color: #f1f1f1;
		}

		.status-circle {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 12px;
			color: white;
			font-weight: 600;
		}

		.dataTables_scroll .dataTables_scrollBody {
			height: auto !important;
			max-height: max-content !important;
		}

		@-moz-document url-prefix() {
			.dataTables_scroll .dataTables_scrollBody {
				overflow: hidden !important;
			}
		}

		.table-status {
			span {
				width: 2rem;
				height: 2rem;
			}
		}

		.rounded-pill {
			font-size: 10px;
			text-align: center;
			width: max-content;
			font-weight: 600;

			.icon {
				margin-right: 0px !important;
			}

			.text-light {
				padding-right: 10px;
				padding-left: 5px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		.open-order-table {

			th:nth-child(8),
			td:nth-child(8) {
				max-width: 65px !important;
			}
		}

		.order-task-table {

			th:nth-child(3),
			td:nth-child(3) {
				min-width: 90px !important;
			}

			th:nth-child(4),
			td:nth-child(4) {
				max-width: 70px !important;
			}

			th:nth-child(5),
			td:nth-child(5),
			th:nth-child(7),
			td:nth-child(7) {
				min-width: 100px !important;
			}

			th:nth-child(8),
			th:nth-child(10),
			td:nth-child(8),
			td:nth-child(10) {
				max-width: 70px !important;
			}

			th:nth-child(9),
			td:nth-child(9) {
				width: 140px;
				min-width: 140px !important;
			}
		}
	}

	.entity-regestration-card {


		#ra-other-table thead {
			position: sticky;
			top: 0;
			background-color: #fff;
			z-index: 3;
		}

		table.dataTable td.dt-control:before {
			color: transparent;
			background-image: url("../../../dist/images/icons/right-angle-table.svg");
			background-repeat: no-repeat;
			background-position: center;
		}

		.dt-hasChild {
			background-color: #5b5559 !important;
			color: #fff !important;
		}

		tbody tr.expanded-row:hover {
			background: #5b5559 !important;
			color: #fff !important;
		}

		tbody tr.expanded-row .dt-control::before {
			background-image: url("../../../dist/images/icons/down-angle-table.svg");
		}

		.expanded-content {
			border: 2px solid rgba(0, 0, 0, 0.3) !important;
		}

		.last-expanded-content {
			border-bottom: 2px solid var(--bs-gray-700) !important;
		}

		.expanded-content td:nth-child(1) {
			border-left: 2px solid var(--bs-gray-600) !important;
		}

		.expanded-content td:last-child {
			border-right: 2px solid var(--bs-gray-600) !important;
		}

		.expand-row td {
			padding: 1rem !important;
			background-color: #f4f4f4;
			border: none;
		}

		td[colspan="9"] {
			padding: 0 !important;
			border: none;
		}

		.inner-table {
			width: 100%;
			border-collapse: collapse;
			background-color: #fff;
			table-layout: fixed;
			margin: 0;
			padding: 0;
		}

		.inner-table td {
			border-top: 1px solid #ddd;
			text-align: left;
		}

		.badge {
			padding: 8px 10px;
			border-radius: 30px;
			font-size: 10px;
			color: #fff;
			display: inline-block;
		}

		.badge-good {
			background: var(--bs-green);
		}

		.badge-not-good {
			background-color: #E73B18;
		}

		.badge-inactive {
			background-color: #8690A0;
		}

		.badge-unknown {
			background-color: #1a4d9e;
		}

		.status-dots {
			display: flex;
			gap: 5px;
			align-items: center;
		}

		.status-dot {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-size: 12px;
			font-weight: 600;
			line-height: normal;
		}

		.status-dot:hover {
			background-color: var(--bs-external-gray);
		}

		.status-good {
			background: var(--bs-green);
		}

		.status-not-good {
			background-color: #E73B18;
		}

		.status-inactive {
			background-color: #8690A0;
		}

		.status-unknown {
			background-color: #1a4d9e;
		}

		th:nth-child(1),
		td:nth-child(1) {
			width: 10px !important;
			min-width: 10px;
			padding: 0px 10px !important;
			padding-right: 5px !important;
		}

		th:nth-child(2),
		td:nth-child(2) {
			width: 100px !important;
			min-width: 150px;
		}

		th:nth-child(3),
		td:nth-child(3) {
			width: 150px;
			min-width: 190px;
		}


		.expanded-row td {
			background-color: #5B5559 !important;
			color: #fff !important;
		}

		.expanded-row td a {
			color: #fff !important;
		}

		.expanded-row td.text-light-blue a,
		.expanded-row td.text-light-blue {
			color: var(--bs-light-blue) !important;
		}

		.pagination-row {
			height: 50px;
			background-color: #D8DDDF !important;
		}

		.pagination-row .btn {
			border: none !important;
			transform: scaleY(1.8);
		}

		.pagination-row .page-info {
			font-size: 12px;
			color: gray;
		}
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button {
		padding: 0px !important;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
		background: none !important;
		border: none !important;
	}

	.dataTables_paginate ul.pagination .paginate_button a.page-link {
		width: 1.5rem;
		padding: 0px;
	}

	.inner-table-container .dataTables_paginate ul.pagination {
		align-items: center;
	}

	.inner-table-container .dataTables_wrapper>.row:last-child {
		background-color: #d8dddf;
	}

	.tab-pane {
		margin-top: 0px !important;
		position: relative !important;
		overflow: visible !important;
	}

	.filter2-dropdown .form-check-input[type=checkbox]:checked,
	.boc-light .boc-filter .boc-filter-menu fieldset div input[type=checkbox]:checked {
		background-color: #272727;
		border: 1.5px solid #272727 !important;
	}

	.filejet-bg ::-webkit-scrollbar-thumb {
		background-color: #a5a4a4;
	}

	.emptytabledata {
		background-color: #CED2D9;
		width: 100%;
		text-align: center;
		margin: auto;
		padding: 5px;
		color: black;
	}

	.skeleton {
		background: linear-gradient(90deg, #A3A3A3 25%, #F0F0F0 50%, #A3A3A3 75%);
		background-size: 200% 100%;
		animation: shimmer 1.5s infinite linear;
		border-radius: 4px;
	}

	@keyframes shimmer {
		0% {
			background-position: -200% 0;
		}

		100% {
			background-position: 200% 0;
		}
	}

	.skeleton-text {
		width: 80%;
		height: 16px;
		margin: 5px 0;
	}

	.skeleton-text-additional {
		width: 30%;
		height: 16px;
		margin: 5px 0;
	}

	.skeleton-circle {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-right: 10px;
	}

	.dataTables_wrapper.no-footer .dataTables_scrollBody {
		border-bottom: none !important;
	}

	table.dataTable.no-footer {
		border-bottom: none !important;
	}

	table.dataTable tbody tr {
		border-color: #d9d9d9;
	}

	@-moz-document url-prefix() {
		#groupSelect {
			border-width: 0px !important;
			padding: 8px 12px !important;
		}
	}

	.entity-table-v2 .dataTables_wrapper .dataTable thead th {
		text-transform: capitalize !important;
	}

	.form-check-input {
		border: 1.5px solid #adadad !important;
	}


	.entity-quickaction {
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.25rem;
		text-transform: capitalize !important;
		background-color: var(--bs-purple-indigo);
		color: white;
		border: none !important;
	}

	.entity-quickaction::after {
		content: "";
		display: inline-block;
		width: 11px;
		height: 11px;
		background-image: url(../../../dist/images/icons/white-angle-bottom.svg) !important;
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		border: none;
		margin-right: 3px;

	}

	.entity-quickaction.show::after {
		content: "";
		display: inline-block;
		width: 11px;
		height: 11px;
		background-image: url(../../../dist/images/icons/white-angle-top.svg) !important;
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		border: none;
		margin-right: 3px;
	}


}

/* External dashboard css start */
.external-dashboard {
	.filter2-dropdown .multi-select-container:focus-within {
		outline: none;
		background-color: #e9ebff;
		color: #000;
		border: 1.5px solid #4744d1 !important;
	}

	.group-search-d2:focus-within {
		outline: none;
		background-color: #e9ebff;
		color: #000;
		border: 1.5px solid #4744d1 !important;
		border-radius: 0.375rem;
	}

	.cardcontainer-d2 .card-d2 {
		border: 0px;
		height: 185px
	}

	.cardcontainer-d2 .nav-link.active {
		color: var(--bs-external-gray);
		border: 1px solid var(--bs-external-gray);
		border-bottom: 0px solid #fff;
		height: 186px
	}

	.cardcontainer-d2 .card-d2 .card-headerd2 {
		background-color: #D8DBFC;
	}

	.tab-content-v2 {
		border: 1px solid var(--bs-external-gray);
	}

	#ra-other-table-external thead {
		position: sticky;
		top: 0;
		background-color: #fff;
		z-index: 3;
	}

	.profile-nav-v2 {
		min-width: 31px;
		border: 1px solid var(--bs-external-gray);
		border-radius: 50px;

		.dropdown {
			border-radius: 100% !important;
		}
	}



}

/* External dashboard css end */


/* professional dashboard css start */
.professional-dashboard {

	.filter2-dropdown .multi-select-container:focus-within {
		outline: none;
		background-color: #def7ff;
		color: #000;
		border: 1.5px solid #00b2eb !important;
	}

	.group-search-d2:focus-within {
		outline: none;
		background-color: #def7ff;
		color: #000;
		border: 1.5px solid #00b2eb !important;
		border-radius: 0.375rem;
	}

	.group-search-d2 .dropdown-toggle:focus-within {
		background-color: #def7ff;
		color: #000;
		border: none !important;
	}

	.profile-nav-v2 {
		min-width: 31px;
		border: 2px solid var(--bs-pro-blue);
		border-radius: 50px;

		.dropdown {
			border-radius: 100% !important;
		}
	}

	.quick-actions,
	.entity-quickaction {
		background-color: var(--bs-pro-blue);
	}

	.cardcontainer-d2 .card-d2 {
		border: 0px;
	}

	.cardcontainer-d2 .card-d2 .card-headerd2 {
		background-color: #CEF3FF;
	}

	.cardcontainer-d2 .nav-link.active {
		color: var(--bs-pro-blue);
		border: 1px solid var(--bs-pro-blue);
		border-bottom: 0px solid #fff;
	}

	.tab-content-v2 {
		border: 1px solid var(--bs-pro-blue);
	}


	.entity-regestration-card #ra-other-table thead {
		position: sticky;
		top: 0;
		background-color: #fff;
		z-index: 3;
	}

	#ra-other-table-prof thead {
		position: sticky;
		top: 0;
		background-color: #fff;
		z-index: 3;
	}


}

/* professional dashboard css end */

@media (min-width: 1600px) {

	.main-dashboard-v2 .open-order-table th:nth-child(3),
	.main-dashboard-v2 .open-order-table td:nth-child(3) {
		max-width: 60px;
		white-space: normal;

	}

	.main-dashboard-v2 .open-order-table th:nth-child(5),
	.main-dashboard-v2 .open-order-table th:nth-child(7),
	.main-dashboard-v2 .open-order-table td:nth-child(5),
	.main-dashboard-v2 .open-order-table td:nth-child(7) {
		max-width: 60px;
		white-space: normal;

	}

	.main-dashboard-v2 .open-order-table th:nth-child(4),
	.main-dashboard-v2 .open-order-table td:nth-child(4) {
		max-width: 40px;
		white-space: normal;

	}


	.main-dashboard-v2 .open-order-table th:nth-child(6),
	.main-dashboard-v2 .open-order-table td:nth-child(6) {
		max-width: 90px;
		white-space: normal;

	}

	.main-dashboard-v2 .open-order-table th:nth-child(9),
	.main-dashboard-v2 .open-order-table td:nth-child(9) {
		max-width: 110px;
		white-space: normal;

	}

	.main-dashboard-v2 .open-order-table th:nth-child(10),
	.main-dashboard-v2 .open-order-table td:nth-child(10) {
		max-width: 70px;
		white-space: normal;

	}

	.main-dashboard-v2 .entity-regestration-card table {
		table-layout: fixed;
	}

	.table {
		width: 100% !important;
		table-layout: fixed;
	}

	.main-dashboard-v2 .entity-registrations-table th,
	.main-dashboard-v2 .entity_registrations_table td {
		padding: 8px;
		text-align: left; // removed ellipsis attribute
	}

	.main-dashboard-v2 .entity-registrations-table th:nth-child(2),
	.main-dashboard-v2 .entity-registrations-table td:nth-child(2) {
		width: 15% !important;
		/* 25% each for the first two columns = 50% total */
	}

	.main-dashboard-v2 .entity-registrations-table th:nth-child(3),
	.main-dashboard-v2 .entity-registrations-table td:nth-child(3) {
		width: 35% !important;
		/* 25% each for the first two columns = 50% total */
	}

	.main-dashboard-v2 .entity-registrations-table th:nth-child(n+4),
	.main-dashboard-v2 .entity-registrations-table td:nth-child(n+4) {
		width: calc(50% / 5) !important;
	}


}

body *::-webkit-scrollbar-track {
	box-shadow: none;
	background-color: #dedede !important;
	border-radius: 0.5rem
}

body *::-webkit-scrollbar-thumb {
	background-color: #a5a4a4 !important;
	outline: 1px solid var(--bs-tranparent);
	border-radius: 0.5rem
}

.dataTables_wrapper .dataTable thead th.sorting::after {
	height: auto !important;
	right: 0px !important;
	top: 45% !important;
	margin-left: 0rem !important;
	content: "▼" !important;
	transform: none !important;
	background-image: none !important;
	line-height: normal !important;
	width: auto !important;
	margin-top: 4px !important;
	position: absolute !important;
	display: block !important;
	line-height: 9px !important;
	font-size: .8em !important;
	opacity: .125;

}

.dataTables_wrapper .dataTable thead th.sorting::before {
	right: 0px !important;
	bottom: 50% !important;
	content: "▲" !important;
	position: absolute !important;
	display: block !important;
	line-height: 9px !important;
	font-size: .8em !important;
	opacity: .125;

}

.dataTables_wrapper .dataTable thead th.sorting.sorting_asc::after {
	transform: none !important;
}

.dataTables_wrapper .dataTable thead th.sorting.sorting_desc::after {
	transform: none !important;
	opacity: .6;
}

.dataTables_wrapper .dataTable thead th.sorting.sorting_asc::before {
	opacity: .6;
}

.count-notification {
	background: var(--bs-purple-indigo) !important;
}

.yellow-bg {
	background-color: var(--bs-yellow-bg);
}